@import url(./reset.css);
@import url(./font.css);

body {
  background: #eaeaea;
}

.header {
  width: 100%;
  padding: 7px 10px;
  margin-top: 20px;
  margin-bottom: 22px;
}

.wrapper {
  max-width: 1135px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-link {
  color: #101010;
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 65px;
}

.logo-text {
  color: #101010;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 15px;
}

.icon {
  margin-right: 45px;
}

.offers {
  display: flex;
  flex-direction: column;
  margin-top: 41px;
  margin-bottom: 46px;
}

.offer {
  width: 1135px;
  height: 162px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 33px;
}

.heading {
  width: 329px;
  height: 22px;
  flex-shrink: 0;
  color: #1c1c27;
  font-family: Montserrat;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 29px;
  margin-top: 15px;
  margin-bottom: 14px;
}

.text-offer {
  width: 1031px;
  height: 88px;
  flex-shrink: 0;
  color: #000;
  font-family: Montserrat;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 44px;
}

.footer .wrapper {
  height: 149px;
  width: 100%;
  border-radius: 30px 30px 0px 0px;
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  display: flex;
}

.text-footer {
  color: #000;
  font-family: Montserrat;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 8.2px;
}

.footer-c1 {
  display: flex;
  align-items: start;
  flex-direction: column;
}

.footer-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.language {
  margin-right: 15px;
  margin-top: 61px;
}

.socials {
  margin-right: 27px;
  margin-bottom: 90px;
  margin-top: 29px;
}

.logo-footer {
  color: #101010;
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-top: 29px;
  margin-bottom: 90px;
  margin-left: 29px;
}
